<!DOCTYPE html>
<html>
<head>
  <title>Página de Inicio</title>
</head>
<body>
  <h1>Bienvenido a la Página de Inicio</h1>
  
  <div>
    <h2>Área 1</h2>
    <button onclick="location.href='/ruta/area1.html'">Ir a Área 1</button>
  </div>
  
  <div>
    <h2>Área 2</h2>
    <button onclick="location.href='/ruta/area2.html'">Ir a Área 2</button>
  </div>
  
  <div>
    <h2>Área 3</h2>
    <button onclick="location.href='/ruta/area3.html'">Ir a Área 3</button>
  </div>
  
  <div>
    <h2>Área 4</h2>
    <button onclick="location.href='/ruta/area4.html'">Ir a Área 4</button>
  </div>
</body>
</html>
