.Btn1{
  position: absolute;
width: 83px;
height: 60px;
left: 202px;
right: 83px;
top: 157px;
bottom: 84px;
}

.Btn2{
position: absolute;
width: 83px;
height: 60px;
left: 73px;
right: 212px;
top: 157px;
bottom: 84px;
}

.Btn3{
position: absolute;
width: 83px;
height: 60px;
left: 73px;
right: 212px;
top: 241px;
bottom: 0;
}

.Btn4{
position: absolute;
width: 83px;
height: 60px;
left: 202px;
right: 83px;
top: 241px;
bottom: 0;
}

