body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #87CEEB; /* Cambiado a un color azul claro */
}

h1 {
  text-align: center;
  padding: 10px; /* Reducido el padding para centrar más */
  background-color: #333;
  color: #fff;
  margin: 0;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Btn1,
.Btn2 {
  text-align: center;
  margin: 10px;
  width: 200px; /* Ajustado el ancho para formar un cuadro */
}

.Btn3,
.Btn4 {
  text-align: center;
  margin: 10px;
  width: 200px; /* Ajustado el ancho para formar un cuadro */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
